@use './vars.module';

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: vars.$primary-bright;
  color: vars.$primary-dark;
  font-size: 1rem;
  font-weight: 400;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.breadcrumb1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 3.5px;
  row-gap: 7.5px;
  width: fit-content;
  height: fit-content;

  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  color: vars.$secondary-dark;


  a {
    color: vars.$secondary-dark;
    cursor: pointer;
    transition: 150ms ease-in-out;

    &:hover {
      color: vars.$hover-pink;
    }
  }

  &.bright {
    color: vars.$secondary-bright;

    a {
      color: vars.$secondary-bright;

      &:hover {
        color: vars.$hover-pink-bright;
      }
    }
  }
}

.inpGrp {
  min-width: 100px;
  width: 100%;
  max-width: 380px;

  label {
    display: block;
    font-weight: 1.15rem;
    font-weight: 700;
    margin-bottom: 7.5px;
    text-transform: capitalize;
  }

  select {
    display: block;
    width: 100%;
    background: transparent;
    border: 1px solid vars.$primary-dark;
    color: vars.$primary-dark;
    font-size: 1.05rem;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
  }
}

.info-page {
  margin: vars.$side-gap*1.5 0;
  width: 100%;
  height: 500px;

  img {
    display: block;
    width: 50%;
    height: 70%;
    object-fit: scale-down;
    margin: 0 auto;
    margin-bottom: vars.$side-gap*0.75;
  }

  p {
    font-size: vars.$page-desc-font-size;
    font-weight: 700;
    line-height: 1em*1.25;
    margin-bottom: vars.$side-gap*0.5;
    text-align: center;
    text-transform: uppercase;
  }

  button {
    font-size: vars.$section-general-font-size;
    font-weight: 400;
    line-height: 1em*1.25;
    display: block;
    padding: 7.5px 40px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin: 0 auto;
    background-color: vars.$primary-dark;
    color: vars.$primary-bright;
    border-radius: 10px;
    cursor: pointer;

    svg {
      transition: 250ms ease-in-out;
    }

    &:hover {
      svg {
        transform: translateX(-10px);
      }
    }
  }

  &.error {
    p {
      color: #7a0012;
    }
  }
}

.cust_sel_1 {
  position: relative;
  width: fit-content;
  height: fit-content;
  font-size: vars.$section-general-font-size;
  font-weight: 500;
  line-height: 1.25em;

  .cust_sel_1_label {
    width: 250px;
    background-color: transparent;
    border: 1.5px solid vars.$primary-dark;
    padding: 7.5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .cust_sel_1_drpDwn {
    position: absolute;
    top: calc(100% + 2px);
    left: 50%;
    width: 97.5%;
    background-color: vars.$secondary-bright;
    z-index: 5;
    font-size: 0.9em;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 5px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #eeeeee;
    }

    &::-webkit-scrollbar-thumb {
      background: #777;

      &:hover {
        background-color: #000;
      }
    }

    .cust_sel_1_opt {
      padding: 5px 12.5px;
      cursor: pointer;
      color: vars.$primary-dark;
      transition: 150ms ease-in-out;

      &:hover {
        background-color: vars.$action-blue;
        color: vars.$primary-bright
      }

    }
  }
}

.pagination {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  font-size: 1.15rem;
  font-weight: 600;

  a {
    display: block;
    background-color: vars.$primary-dark;
    color: vars.$primary-bright;
    padding: 7.5px 30px;
    transition: 150ms ease-in-out;
    border-radius: 10px;

    &:hover {
      background-color: vars.$hover-pink;
    }
  }
}

.info-banner {
  font-size: vars.$section-general-font-size*0.85;
  font-weight: 400;
  line-height: 1em*1.1;
  display: flex;
  column-gap: 6px;
  align-items: center;
  background-color: vars.$action-blue;
  color: vars.$primary-bright;
  width: fit-content;
  padding: 7.5px 40px 4px 10px;
  position: relative;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -2.5px;
    content: " ";
    width: 0;
    height: 0;
    border-top: 25px*0.866 solid transparent;
    border-bottom: 25px*0.866 solid transparent;
    border-right: 25px solid vars.$primary-bright;

  }
}


.rating-stars-shw {
  display: flex;
  align-items: center;
  color: #FFD700;
  font-size: vars.$page-head-font-size*1.5;
  column-gap: vars.$side-gap*0.5;

  .inactive {
    color: vars.$tertiary-bright;
  }

  &.rating-stars-shw-mini {
    font-size: vars.$section-general-font-size;
    column-gap: vars.$side-gap*0.25;
  }
}

.contact-inp-grp {
  display: flex;
  flex-direction: column;
  row-gap: 7.5px;
  width: 100%;
  // margin: 0 auto;

  label {
    font-size: vars.$section-general-font-size;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 3.75px;
  }

  input,
  select,
  textarea {
    display: block;
    width: 100%;
    height: fit-content;
    background-color: vars.$primary-bright;
    border: 1.5px solid vars.$secondary-dark;
    border-radius: 5px;
    font-size: vars.$section-general-font-size;
    font-weight: 400;
    padding: 10px;
  }

  textarea {
    height: 35ch;
  }
}

.hero-type-1 {
  position: relative;
  width: 100%;
  height: 420px;
  margin-bottom: vars.$side-gap;

  &>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    z-index: -1;
  }

  &>.contents {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    &>.title {
      font-size: vars.$page-head-font-size;
      font-weight: 700;
      color: vars.$primary-bright;
      text-transform: capitalize;
      letter-spacing: 1.25px;
      margin-bottom: 8px;
    }

    &>.desc {
      font-size: vars.$page-desc-font-size;
      font-weight: 400;
      color: vars.$secondary-bright;
      width: 75%;
      max-width: 500px;
      text-align: center;

      &.enlarged {
        max-width: 800px;
      }
    }
  }
}


.login-modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.25);
  z-index: 20;


  .login-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    min-width: 85vw;
    width: fit-content;
    max-width: 100vh;

    min-height: 90vh;
    height: fit-content;

    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.7);

    background: none;

    .login-modal-close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      font-size: vars.$page-head-font-size;
      transition: 250ms ease-in-out;

      &:hover {
        color: vars.$hover-pink;
        transform: scale(1.1);
      }
    }

  }
}


