@use '../vars.module';

.empty_notify{
    font-size: vars.$page-desc-font-size;
    font-weight: 500;
    height: 400px;
    color: vars.$secondary-dark;
    text-align: center;
    margin-top: vars.$side-gap*0.5 * -1;

    a{
        font-weight: 600;
        text-decoration: underline;
        transition: 250ms ease-in-out;
        text-transform: uppercase;

        &:hover{
            color: vars.$hover-pink;
        }
    }

    @media (max-width: 575px){
        font-size: 1.1rem;
    }
}

.view_cart{
    width: fit-content;
    min-height: 500px;
    margin: 0 auto;
    
    .cart_items{
        width: fit-content;
        display: flex;
        flex-direction: column;
        row-gap: vars.$side-gap*1.5;
        margin-bottom: vars.$side-gap*1.25;

        @media (max-width: 1120px){
            row-gap: vars.$side-gap;
        }
    }
    
    .cart_stats{
        display: flex;
        flex-direction: column;
        row-gap: vars.$side-gap*0.375;
        align-items: flex-end;
        padding-right: 12.5px;
        width: 100%;
        font-size: vars.$section-general-font-size;

        .stat{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
            width: 200px;
        }
        
        button{
            display: block;
            width: fit-content;
            height: fit-content;
            background-color: vars.$primary-dark;
            color: vars.$primary-bright;
            font-size: 1em;
            font-weight: 700;
            padding: 10px 50px;
            border: none;
            border-radius: 25px;
            margin-top: vars.$side-gap*0.5;
            cursor: pointer;
            transition: 250ms ease-in-out;

            &:hover{
                background-color: vars.$hover-pink;
            }
        }
    
    }

    @media (max-width: 460px){
        width: 100%;

        .cart_items{
            width: 100%;
        }

        .cart_stats{
            align-items: center;
        }
    }
}