@use '../vars.module';

.login_form {
    display: block;
    width: 100%;
    
    .form_title {
        font-size: vars.$section-head-font-size;
        font-weight: 700;
        line-height: 1.5em;
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }

    .inp_grp{
        position: relative;
        min-width: 18ch;
        max-width: 32ch;
        width: 100%;
        margin: 0 auto 85px;

        input {
            display: block;
            width: 100%;
            padding: 0 7.5px 7.5px;
            
            background: none;
            border: none;
            border-bottom: 2px solid vars.$dark-blueish-gray;
            outline: none;
            transition: 300ms ease-in-out;
            
            font-size: vars.$section-general-font-size;

            &::placeholder{
                color: vars.$tertiary-dark;
            }

            &:focus{
                border-color: vars.$primary-dark;
                
                &::placeholder{
                    color: vars.$primary-dark;
                }
            }

        }

        .inp_info{
            position: absolute;
            top: calc(100% + 2.5px);
            width: 100%;
            height: fit-content;

            font-size: 0.9rem;
            line-height: 1.25em;
            font-weight: 500;

            &.warn{
                color: #5c0512;
            }
        }
    }

    .sbmt_btn {
        display: block;
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
        padding: 10px 45px;
        border: none;
        border-radius: 10px;
        outline: none;
        background-color: vars.$primary-dark;
        color: vars.$primary-bright;
        transition: 250ms ease-in-out;
        font-size: vars.$section-general-font-size;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: vars.$hover-pink;
        }
    }


    @media (max-width: 575px){
        .form_title{
            font-size: 1.25rem;
        }

        .inp_grp{
            input{
                font-size: 1rem;
            }
        }

        .sbmt_btn{
            font-size: 1.05rem;
            padding: 7.5px 40px;
        }
    }
}