@use '../vars.module';

.login_modal_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.25);
    z-index: 20;
  
    .login_modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      
      min-width: 85vw;
      width: fit-content;
      max-width: 100vh;
  
      min-height: 90vh;
      height: fit-content;
  
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.7);
  
      background: none;
  
      .login_modal_close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: vars.$page-head-font-size;
        transition: 250ms ease-in-out;
  
        &:hover {
          color: vars.$hover-pink;
          transform: scale(1.1);
        }
      }
  
    }
  }