@use '../../../styles/vars.module';

.subscribePage {
    padding: 0 vars.$side-gap*1.25;
    margin-bottom: vars.$side-gap*3.5;
    display: flex;
    column-gap: 5%;
    justify-content: center;

    .pageTitle {
        font-size: vars.$section-head-font-size;
        font-weight: 600;
        margin-bottom: 12.5px;
        text-transform: uppercase;
    }

    .sect1 {
        width: 55%;

        .img_container {
            width: 100%;
            height: fit-content;
            max-height: 450px;
            border-radius: 5px;
            overflow: hidden;
        

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                transition: 250ms ease-in-out;

                &:hover {
                    transform: scale(1.75);
                    transition: none 0ms ease;
                }
            }
        }

        .name {
            display: flex;
            column-gap: 10px;
        }
    }

    .sect2 {
        width: 40%;

        .contents {
            display: flex;
            flex-direction: column;
            row-gap: 30px;

            .priceInfo {
                font-size: vars.$section-general-font-size;
                font-weight: 600;

                span {
                    &:last-of-type {
                        margin-left: 15px;
                        text-decoration: line-through;
                    }
                }
            }

            .infoNote {
                margin-top: -15px;
                margin-bottom: 15px;
                font-size: vars.$section-general-font-size*0.85;
                font-weight: 400;
                line-height: 1em*1.1;
                display: flex;
                column-gap: 6px;
                align-items: center;
                background-color: vars.$action-blue;
                color: vars.$primary-bright;
                width: fit-content;
                padding: 7.5px 40px 4px 10px;
                position: relative;
                height: 40px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;

                &::after {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -2.5px;
                    content: " ";
                    width: 0;
                    height: 0;
                    border-top: 25px*0.866 solid transparent;
                    border-bottom: 25px*0.866 solid transparent;
                    border-right: 25px solid vars.$primary-bright;

                }
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 6px;
                width: fit-content;
                padding: 7.5px 80px;
                font-size: vars.$page-desc-font-size;
                font-weight: 500;
                background-color: vars.$primary-dark;
                color: vars.$primary-bright;
                transition: 250ms ease-in-out;
                border-radius: 0 15px 0 15px;
                cursor: pointer;

                svg {
                    font-size: 1.25em;
                    transition: 350ms ease-in-out;
                }

                &:hover {
                    background-color: vars.$hover-pink;

                    svg {
                        transform: translateX(30px);
                    }
                }
            }
        }
    }
}