@use '../../styles/vars.module';

.acc_pg {
    margin: vars.$side-gap*1.5 auto vars.$side-gap*2.5;
    padding: 0 vars.$side-gap;
    max-width: 1000px;
    min-height: 750px;

    .pg_head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: vars.$side-gap*0.25;

        img {
            border-radius: 50%;
        }

        p {
            font-size: vars.$section-head-font-size;
            font-weight: 600;
            color: vars.$secondary-dark;
            width: fit-content;
        }
    }

    .pg_card_container {
        margin: vars.$side-gap*1.5 0 vars.$side-gap*2;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        column-gap: vars.$side-gap*0.375;

        .pg_card {
            width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: vars.$side-gap*0.5;
            padding: 15px 20px;
            border-radius: 5px;
            transition: 350ms ease-in-out;

            -webkit-box-shadow: 0px 0px 5px 1px rgba(117, 132, 143, 0.5);
            -moz-box-shadow: 0px 0px 5px 1px rgba(117, 132, 143, 0.5);
            box-shadow: 0px 0px 5px 1px rgba(117, 132, 143, 0.5);

            &:hover {
                transform: translateX(-4px) translateY(-4px);

                -webkit-box-shadow: 3px 3px 5px 1px rgba(117, 132, 143, 0.75);
                -moz-box-shadow: 3px 3px 5px 1px rgba(117, 132, 143, 0.75);
                box-shadow: 3px 3px 5px 1px rgba(117, 132, 143, 0.75);
            }


            .card_head {
                font-size: vars.$page-desc-font-size;
                font-weight: 600;
                letter-spacing: 0.75px;
            }

            .card_text {
                font-size: vars.$section-general-font-size;

            }

            a {
                font-size: vars.$section-general-font-size;
                font-weight: 600;
                cursor: pointer;
                transition: 250ms ease-in-out;
                text-decoration: underline;

                &:hover {
                    color: vars.$hover-pink;
                }
            }
        }
    }

    .acc_del_btn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: fit-content;
        height: fit-content;
        
        margin: 0 auto;
        padding: 12.5px 45px;
        
        border: #5c0512 2.5px solid;
        background: none;
        color: #5c0512;
        
        font-size: vars.$page-desc-font-size;
        font-weight: 600;
        line-height: 1.25em;

        border-radius: 10px;
        cursor: pointer;
    }

    .modal_overlay{
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: 11;
        background-color: rgba($color: vars.$secondary-dark, $alpha: 0.65);
        pointer-events: all;

        .modal{
            position: absolute;
            top: 25%;
            left: 50%;
            width: 400px;
            height: fit-content;
            background-color: vars.$primary-bright;
            border-radius: 15px;

            .modal_head{
                padding: 12.5px 20px;
                font-size: vars.$section-head-font-size;
                font-weight: 700;
                color: #F32013;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 7.5px;
                background-color: vars.$secondary-dark;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            .modal_text{
                padding: 25px 20px 40px;
                text-align: justify;
                font-size: vars.$section-general-font-size*0.9;
                font-weight: 400;
                line-height: 1.5em;
            }

            .btn_grp{
                display: flex;
                justify-content: center;
                align-items: center;
                row-gap: 20px;
                flex-direction: column;
                padding: 0 20px 20px;

                button{
                    display: block;
                    width: 75%;
                    font-size: vars.$section-general-font-size;
                    font-weight: 600;
                    padding: 12.5px 30px;
                    border-radius: 15px;
                    cursor: pointer;
                    border: 2px solid #000;
                
                    &:first-of-type{
                        background-color: vars.$primary-dark;
                        color: vars.$primary-bright;
                        border-color: vars.$primary-dark;
                        transition: 250ms ease-in-out;

                        &:hover{
                            background-color: #32a431;
                            border-color: #32a431;
                        }
                    }

                    &:last-of-type{
                        background: none;
                        border-color: #5c0512;
                        text-transform: capitalize;
                        color: #5c0512;

                        &:hover{
                            border-color: #F32013;
                            color: #F32013;
                            text-shadow: 0px 0px 8px rgba($color: #F32013, $alpha: 0.3);
                            box-shadow: 0px 0px 8px rgba($color: #F32013, $alpha: 0.3);
                        }
                    }
                }
            }
        }
    }
}