@use '../../../styles/vars.module';

.page {
    margin: vars.$side-gap*1.5 vars.$side-gap*1.5 vars.$side-gap*3;

    .pg_head {
        font-size: vars.$page-head-font-size;
        font-weight: 600;
        margin: vars.$side-gap*0.5 0 vars.$side-gap;
    }

    .sec_head {
        font-size: vars.$section-head-font-size;
        text-transform: uppercase;
        font-weight: 600;
    }

    .order_smry {
        // margin: vars.$side-gap 0 0;

        &>*:nth-child(2) {
            margin-top: 30px;
            margin-left: 5px;
        }
    }

    .payment_smry{
        margin: vars.$side-gap*3 0 0;
        
        .pymnt_cnts{
            margin-top: vars.$side-gap*0.5;
            display: flex;
            flex-direction: column;
            row-gap: 12.5px;
            padding-left: 5px;
            
            .stat{
                font-size: vars.$section-general-font-size;
                font-weight: 500;
                display: flex;
                column-gap: 5px;
                span{
                    &:first-child{
                        width: 9ch;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    
    .order_itms_sec {
        margin-top: vars.$side-gap*1.25;
        
        .itms_list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            // justify-content: center;
            gap: 60px 50px;
            padding-left: 5px;


            margin-top: vars.$side-gap*0.75;
        }
    }
}