@use '../../../styles/vars.module';

.header {
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 15px vars.$side-gap;
    color: vars.$primary-dark;

    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
    background-color: rgba(247, 249, 249, 0.65);

    &::after {
        display: block;
        position: absolute;
        top: calc(100%);
        left: 50%;
        transform: translateX(-50%);
        width: 97.5%;
        height: 1px;
        content: " ";
        background-color: vars.$tertiary-bright;
    }

    .logo {
        display: block;
        width: fit-content;
        height: vars.$page-head-font-size*1.125;

        img {
            height: 100%;
            width: 100%;
        }
    }

    @media (max-width: 575px){
        padding: 15px vars.$side-gap*0.5;

        .logo{
            height: vars.$section-head-font-size*1.125;
        }
    }

    @media (max-width: 295px){
        padding: 12.5px vars.$side-gap*0.25;
        .logo{
            height: 1.25rem;
        }
    }
}