@use '../../styles/vars.module';

.faqPage{
    margin: vars.$side-gap*0.75 vars.$side-gap*2 vars.$side-gap*2;

    .hero_section{
        .title{
            font-size: vars.$page-head-font-size;
            font-weight: 700;
            margin-bottom: 7px;
            color: vars.$secondary-dark;
            letter-spacing: 1.25px;
        }

        .page_desc{
            font-size: vars.$section-general-font-size;
            font-weight: 500;
            color: vars.$tertiary-dark;
        }
    }

    .page_links{
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        gap: vars.$side-gap*0.5;
        margin-top: vars.$side-gap*1.25;

        a{
            display: block;
            padding: 5px 30px;
            border: 1.5px solid vars.$dark-blueish-gray;
            border-radius: 10px;
            font-size: vars.$section-general-font-size;
            font-weight: 500;
            background-color: transparent;
            transition: 250ms ease-in-out;

            &:hover{
                border-color: vars.$hover-pink;
                color: vars.$primary-bright;
                background-color: vars.$hover-pink;

            }
        }
    }


    .faq_sections{
        display: flex;
        flex-direction: column;

        .faq_section{
            padding-top: vars.$side-gap*2;

            .sec_title{
                font-size: vars.$section-head-font-size;
                font-weight: 600;
                margin-bottom: vars.$side-gap;
            }

            .sec_contents{
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: 1fr 1fr;
                gap: vars.$side-gap*0.75;
            }
        }
    }

    .still_have{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        margin: vars.$side-gap*3 auto 0;
        column-gap: vars.$side-gap*6;

        padding: 30px 40px;
        border-radius: 40px 5px 40px 5px;
        background-color: vars.$secondary-dark;

        .contents{
            .title{
                font-size: vars.$section-head-font-size;
                font-weight: 700;
                margin-bottom: 10px;
                color: vars.$primary-bright;
            }
            
            .desc{
                font-size: vars.$section-general-font-size;
                font-weight: 400;
                color: vars.$tertiary-bright;
            }
        }

        a{
            display: block;
            font-size: vars.$page-desc-font-size;
            font-weight: 600;
            width: fit-content;
            background-color: vars.$secondary-bright;
            padding: 12px 40px;
            border-radius: 15px;
            color: vars.$primary-dark;
            transition: 250ms ease-in-out;

            &:hover{
                background-color: vars.$hover-pink;
                color: vars.$primary-bright;
                transform: translateY(-2px);
            }
        }
    }
}

.faq{
    width: 100%;
    height: fit-content;

    .question{
        width: 100%;
        font-size: vars.$section-general-font-size;
        font-weight: 500;
        color: vars.$primary-dark;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: vars.$side-gap*0.25;
        padding: 10px 20px;
        background-color: vars.$secondary-bright;
        border-radius: 5px;
        cursor: pointer;
    }

    .answer{
        margin-top: 5px;
        width: 100%;
        padding: 20px;
        border: 1px solid vars.$dimmed-dark-blueish-gray;
        font-size: vars.$section-general-font-size;
        font-weight: 400;
        line-height: 1.5em;
        background-color: vars.$secondary-dark;
        color: vars.$primary-bright;
        border-radius: 5px;
    }
}