@use './vars.module';

.cart_item {
    width: fit-content;
    display: flex;
    align-items: flex-start;
    column-gap: vars.$side-gap;

    border-bottom: 1.5px solid vars.$dark-blueish-gray;
    height: fit-content;

    padding: 0 10px 10px;

    .cart_itm_sec_1 {
        display: flex;
        align-items: flex-start;
        column-gap: vars.$side-gap*0.5;
        width: fit-content;
        font-size: vars.$section-general-font-size;
        font-weight: 500;

        .cart_itm_item_info {
            display: inline-flex;
            align-items: center;
            column-gap: 6px;
            width: 32ch;

            .item_name {
                font-weight: 600;
                line-height: 1.4em;
            }

            .item_gsize {
                text-transform: capitalize;

                &::before {
                    content: " - ";
                }
            }
        }

        .cart_itm_price_per_unit {
            width: 18ch;
        }
    }

    .cart_itm_sec_2 {
        display: flex;
        align-items: flex-start;
        column-gap: vars.$side-gap;
        width: fit-content;
        font-size: vars.$section-general-font-size;
        font-weight: 500;

        .cart_itm_itm_btns {
            display: flex;
            align-items: flex-start;
            column-gap: vars.$side-gap;
            width: fit-content;

            .cart_itm_itm_incr_decr {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 3px;

                .cart_itm_qty_value {
                    font-weight: 600;
                    width: 7ch;
                    text-align: center;
                }

                .cart_itm_icon_btn {
                    font-size: 1.375em;
                    background: none;
                    border: none;
                    color: vars.$secondary-dark;
                    cursor: pointer;

                    &:disabled {
                        color: vars.$dimmed-dark-blueish-gray;
                        cursor: not-allowed;
                    }
                }
            }

            .cart_itm_itm_delete_btn {
                font-weight: 600;
                padding: 0 5px;
                line-height: 1.15em;
                border-bottom: vars.$secondary-dark 1.5px solid;
                cursor: pointer;
                transition: 250ms ease-in-out;

                &:hover {
                    color: vars.$hover-pink;
                    border-color: vars.$hover-pink;
                }
            }
        }

        .cart_itm_itm_total_price {
            font-weight: 700;
            font-size: 1.05em;
            min-width: 8ch;
            width: fit-content;
            text-align: right;
        }
    }

    @media (max-width: 1120px) {
        border-bottom: none;
        background-color: vars.$secondary-dark;
        color: vars.$primary-bright;
        padding: 15px 20px;
        border-radius: 10px;
        border: 1.5px vars.$dark-blueish-gray solid;

        .cart_itm_sec_2>.cart_itm_itm_btns {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 15px;

            .cart_itm_itm_incr_decr {
                .cart_itm_icon_btn {
                    color: vars.$primary-bright;

                    &:disabled {
                        color: vars.$dark-blueish-gray;
                    }
                }
            }

            .cart_itm_itm_delete_btn {
                border-bottom-color: vars.$secondary-bright;
            }
        }
    }

    @media (max-width: 1000px) {
        column-gap: vars.$side-gap*0.5;

        .cart_itm_sec_1 {
            flex-direction: column;
            row-gap: 15px;
        }

        .cart_itm_sec_2 {
            column-gap: vars.$side-gap*0.5;
        }
    }

    @media (max-width: 745px) {
        column-gap: vars.$side-gap*0.375;

        .cart_itm_sec_1 {
            font-size: 1.1rem;

            .cart_itm_item_info {
                min-width: 20ch;
                width: fit-content;
                row-gap: 10px;
                flex-direction: column;
                align-items: flex-start;

                .item_gsize {
                    font-weight: 500;

                    &::before {
                        display: none;
                    }
                }
            }
        }

        .cart_itm_sec_2 {
            font-size: 1.1rem;
        }
    }

    @media (max-width: 620px) {
        .cart_itm_sec_2 {
            flex-direction: column-reverse;
            align-items: center;
            row-gap: 15px;

            .cart_itm_itm_total_price {
                text-align: center;
                width: fit-content;
            }
        }
    }

    @media (max-width: 460px) {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        width: 100%;

        .cart_itm_sec_1 {
            align-items: center;

            .cart_itm_item_info {
                text-align: center;
                width: fit-content;
                min-width: fit-content;
                align-items: center;
            }

            .cart_itm_price_per_unit {
                width: fit-content;
                min-width: fit-content;
                text-align: center;
            }
        }

        .cart_itm_sec_2 {
            flex-direction: column;
            row-gap: 20px;
        }
    }
}