@use './vars.module';

.my-inp-grp-1 {
    display: flex;
    flex-direction: column;
    row-gap: 7.5px;
    width: 100%;

    label {
        font-size: vars.$section-general-font-size;
        font-weight: 600;
        text-transform: capitalize;
        margin-left: 3.75px;
    }

    input,
    select,
    textarea {
        display: block;
        width: 100%;
        height: fit-content;
        background-color: vars.$primary-bright;
        border: 1.5px solid vars.$secondary-dark;
        border-radius: 5px;
        font-size: vars.$section-general-font-size;
        font-weight: 400;
        padding: 10px;
        font-family: inherit;
    }

    textarea {
        height: 35ch;
    }
}