@use '../../../../styles/vars.module';

.press_section{
    margin-top: vars.$side-gap*0.5 ;
    padding: vars.$side-gap vars.$side-gap vars.$side-gap*2;
    background-color: vars.$primary-dark;

    @media (max-width: 575px){
        padding: vars.$side-gap vars.$side-gap*0.5 vars.$side-gap*2;
    }

    @media (max-width: 426px){
        padding-bottom: vars.$side-gap;
    }

    @media (max-width: 341px){
        padding-bottom: vars.$side-gap*0.5;
    }

    .title{
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 1.5em;
        color: vars.$primary-bright;

        @media (max-width: 769px){
            font-size: 1.5rem;
        }

        @media (max-width: 426px){
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .embla{
        overflow: hidden;
        width: 100%;
        height: fit-content;

        .btns{
            display: flex;
            justify-content: right;
            align-items: center;
            column-gap: 40px;
            margin-bottom: 10px;

            button{
                background-color: vars.$primary-bright;
                color: vars.$primary-dark;
                font-size: 20px;
                line-height: 22px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: 150ms ease-in-out;

                &:hover{
                    background-color: vars.$hover-pink;
                    color: vars.$primary-bright;
                }

                @media (max-width: 769px){
                    font-size: 1.1rem;
                    line-height: 1.15rem;
                    width: 1.75rem;
                    height: 1.75rem;

                    &:hover, &:focus{
                        background-color: vars.$primary-bright;
                        color: vars.$primary-dark;
                    }
                }
            }
        }

        .embla__container{
            display: flex;
            height: 400px;
            column-gap: 25px;

            @media (max-width:376px){
                height: 350px;
            }

            @media (max-width: 300px){
                height: 325px;
            }

            .embla__slide{
                flex: 0 0 35%;
                height: 100%;
                min-width: 0;
                color: vars.$primary-bright;

                @media (max-width:1276px){
                    flex: 0 0 37.5%;
                }

                @media (max-width: 1176px){
                    flex: 0 0 40%;
                }

                @media (max-width: 1065px){
                    flex: 0 0 45%;
                }

                @media (max-width: 970px){
                    flex: 0 0 50%;
                }

                @media (max-width: 870px){
                    flex: 0 0 55%;
                }

                @media (max-width: 769px){
                    flex: 0 0 65%;
                }

                @media (max-width: 700px){
                    flex: 0 0 72.5%;
                }

                @media (max-width: 575px){
                    flex: 0 0 80%;
                }

                @media (max-width: 525px){
                    flex: 0 0 100%;
                }

                &:first-of-type{
                    margin-left: 25px;
                }

                img{
                    width: 100%;
                    height: 70%;
                    object-fit: cover;

                    @media (max-width: 426px){
                        height: 60%;
                    }

                    @media (max-width: 350px){
                        height: 52.5%;
                    }

                    @media (max-width: 300px){
                        height: 47.5%;
                    }
                }

                .slide_contents{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    row-gap: 12.5px;
                    margin-top: 7.5px;
                    font-size: 1rem;
                    line-height: 1.1rem;

                    @media (max-width: 769px){
                        font-size: 0.95rem;
                        line-height: 1.05em;
                    }

                    @media (max-width: 300px){
                        font-size: 0.9rem;
                        line-height: 1rem;
                    }

                    .slide__title{
                        text-align: center;
                        font-weight: 700;
                    }

                    .slide__meta{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        column-gap: 10px;
                        color: vars.$tertiary-bright;

                        &>*:first-of-type::after{
                            content: "|";
                            margin-left: 10px;
                            font-weight: 700;
                            color: vars.$dark-blueish-gray;
                        }

                        @media (max-width: 340px){
                            // justify-content: space-between;
                            flex-direction: column-reverse;
                            row-gap: 10px;

                            &>*:first-of-type::after{
                                content: "";
                                display: none;
                                margin-left: 0;
                            }
                        }

                        @media (max-width: 300px){
                            row-gap: 7.5px;
                        }
                    }

                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        column-gap: 7.5px;
                        color: vars.$tertiary-bright;
                        transition: 250ms ease-in-out;

                        .slide__linkIcon{
                            transition: 500ms ease-in-out;
                        }

                        &:hover{
                            color: vars.$primary-bright;
                            .slide__linkIcon{
                                transform: translateX(10px);
                            }
                        }
                    }
                }
            }
        }
    }
}