@use '../vars.module';

.page{
    margin: vars.$side-gap*1.25 auto vars.$side-gap*2.5;
    max-width: 1250px;
    padding: 0 vars.$side-gap*0.5;
    min-height: 600px;

    .pg_hd{
        font-size: vars.$page-head-font-size;
        font-weight: 600;
        line-height: 1.5em;
        margin-top: vars.$side-gap*0.25;
    }

    .pg_cntnts{
        margin-top: vars.$side-gap;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, auto);
        column-gap: vars.$side-gap*2;
        

        .cntnts_sec{
            width: 100%;

            .cntnts_hd{
                font-size: vars.$section-head-font-size;
                margin-bottom: vars.$side-gap*0.5;
                font-weight: 600;
                text-transform: capitalize;
            }

            img{
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 10px;
                margin-bottom: vars.$side-gap*0.5;
            }

            .cntnts_main{
                display: flex;
                flex-direction: column;
                row-gap: vars.$side-gap*0.5;

                .cntnt{
                    font-size: vars.$section-general-font-size;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: vars.$side-gap*0.125;
                    grid-template-rows: auto;

                    &>*:first-child{
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}