@use '../vars.module';

.page {
    margin: vars.$side-gap*1.25 auto vars.$side-gap*2.5;
    max-width: 1275px;
    padding: 0 vars.$side-gap;
    min-height: 600px;

    .brdcrmb_cnt {
        display: block;
        width: fit-content;
        margin: auto;
    }

    .pg_hd {
        font-size: vars.$page-head-font-size;
        font-weight: 700;
        line-height: 1.5em;
        margin-top: vars.$side-gap*0.375;
        text-align: center;
    }

    .pg_cntnts {
        margin-top: vars.$side-gap;
        display: grid;
        grid-template-columns: 650px 1fr;
        grid-template-rows: auto;
        column-gap: vars.$side-gap;
        justify-content: center;
        width: 100%;

        .cntnts_sec {
            width: 100%;

            .cntnts_hd {
                font-size: vars.$section-head-font-size;
                margin-bottom: vars.$side-gap*0.75;
                font-weight: 600;
                text-transform: capitalize;
            }

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 10px;
                margin-bottom: vars.$side-gap*0.625;
            }

            .cntnts_main {
                display: flex;
                flex-direction: column;
                row-gap: vars.$side-gap*0.625;

                .cntnt {
                    font-size: vars.$section-general-font-size;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: vars.$side-gap*0.375;
                    grid-template-rows: auto;

                    &>*:first-child {
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }


    @media(max-width: 1295px) {

        .pg_cntnts {
            grid-template-columns: repeat(2, minmax(450px, 1fr));
        }
    }

    @media (max-width: 1025px) {
        .pg_cntnts {
            grid-template-columns: minmax(auto, 750px);
            row-gap: vars.$side-gap;
        }
    }

    @media (max-width: 800px) {

        .pg_hd {
            font-size: 1.75rem;
        }

        .pg_cntnts>.cntnts_sec {

            .cntnts_hd {
                font-size: 1.25rem;
            }

            .cntnts_main>.cntnt {
                font-size: 1.05rem;
            }
        }
    }

    @media (max-width: 575px) {
        padding: 0 vars.$side-gap*0.5;

        .pg_hd {
            font-size: 1.5rem;
        }

        .pg_cntnts>.cntnts_sec {

            .cntnts_hd {
                font-size: 1.15rem;
            }

            .cntnts_main>.cntnt {
                font-size: 1rem;
                align-items: center;
            }
        }
    }

    @media (max-width: 430px){

        .pg_hd{
            font-size: 1.4rem;
        }

        .pg_cntnts>.cntnts_sec {
            .cntnts_main>.cntnt{
                column-gap: 0.25rem;
                font-size: 0.9rem;
            }
        }
    }

    @media (max-width: 295px){
        padding: 0 vars.$side-gap*0.25;
    }
}