@use '../vars.module';

.login_pg {
    width: 100%;
    min-height: 700px;
    height: fit-content;
    position: relative;
    background-color: vars.$secondary-bright;

    background-image: url('../../assets/loginBg/bg-desktop-1.svg'), url('../../assets/loginBg/bg-desktop-2.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;

    .s_1 {
        display: flex;
        width: 100%;
        min-height: inherit;
        height: fit-content;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: vars.$side-gap*1.5 vars.$side-gap vars.$side-gap;
        row-gap: 10px;

        .title {
            font-size: vars.$page-head-font-size;
            font-weight: 700;
            line-height: 1.5em;
        }

        .desc {
            font-size: vars.$page-desc-font-size;
            font-weight: 500;
            line-height: 1.5em;
            text-align: center;
            width: 80%;
            max-width: 900px;
        }
    }

    .s_2 {
        position: absolute;
        top: calc(vars.$side-gap*1.5 + vars.$page-head-font-size*1.75*1.5 + vars.$page-desc-font-size*3*1.5 + vars.$side-gap*0.5);
        left: 50%;
        transform: translateX(-50%);

        -webkit-box-shadow: 0px 0px 20px 2px rgba(117, 132, 143, 0.75);
        -moz-box-shadow: 0px 0px 20px 2px rgba(117, 132, 143, 0.75);
        box-shadow: 0px 0px 20px 2px rgba(117, 132, 143, 0.75);

        background-color: vars.$primary-bright;
        

        border-radius: 10px;

        height: fit-content;
        padding: vars.$side-gap*0.75 vars.$side-gap;
    }
}