@use '../vars.module';

.page {
    margin: vars.$side-gap auto vars.$side-gap*3;
    padding: 0 vars.$side-gap;
    width: fit-content;

    .orders_empty_info{
        margin-top: vars.$side-gap;
        font-size: vars.$page-desc-font-size;
        min-height: 450px;
        height: 85vh;
        min-width: 85vw;
        width: fit-content;

        a{
            font-weight: 600;
            text-decoration: underline;
            transition: 250ms ease-in-out;

            &:hover{
                color: vars.$hover-pink;
            }
        }
    }

    .pg_head {
        font-size: vars.$page-head-font-size;
        font-weight: 700;
        text-transform: uppercase;
    }

    .orders_container {
        display: flex;
        flex-direction: column;
        row-gap: vars.$side-gap;
        margin-top: vars.$side-gap;
        min-height: 85vh;
    }

    @media (max-width: 768px){
        .pg_head{
            font-size: 1.75rem;
        }
    }

    @media (max-width: 575px){
        padding: 0 vars.$side-gap*0.5;

        .pg_head{
            font-size: 1.5rem;
            text-align: center;
        }
    }

    @media (max-width: 360px){
        width: 100%;

        .orders_empty_info{
            min-width: auto;
            width: 100%;
        }
    }

    @media (max-width: 295px){
        padding: 0 vars.$side-gap*0.25;
    }
}