@use '../vars.module';

.policy_page{
    margin: vars.$side-gap*1.25 auto vars.$side-gap*3 ;
    width: 90%;
    max-width: 1000px;
    padding: 0 vars.$side-gap*1.25;

    .page_title{
        font-size: vars.$page-head-font-size;
        font-weight: 600;
        margin-bottom: vars.$side-gap;
    }

    .page_excerpt{
        font-size: vars.$section-general-font-size;
        font-weight: 500;
        margin-bottom: vars.$side-gap*0.5;
        text-align: justify;
        line-height: 1.5em;
    }

    .section_main_title{
        font-size: vars.$section-head-font-size;
        font-weight: 600;
        margin-bottom: vars.$side-gap*0.25;
    }

    .section{
        display: flex;
        row-gap: vars.$side-gap*0.25;
        flex-direction: column;
        margin-bottom: vars.$side-gap*0.75;

        .section_head{
            font-size: vars.$page-desc-font-size;
            font-weight: 600;
        }

        .section_content{
            font-size: vars.$section-general-font-size;
            font-weight: 400;
            text-align: justify;
            line-height: 1.5em;

            ul{
                width: 90%;
                margin: vars.$side-gap*0.125 auto 0;
                // font-size: 0.9em;
                display: flex;
                flex-direction: column;
                row-gap: 5px;
            }
        }
    }

    .page_end_note{
        font-size: vars.$section-general-font-size;
        font-weight: 500;
        line-height: 1.5em;
        text-align: justify;
    }
}