@use '../vars.module';

.crumb_container{
    padding: vars.$side-gap vars.$side-gap 0;

    @media (max-width: 1000px){
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
        padding: vars.$side-gap 0 0;
    }

    @media (max-width: 840px){
        width: 100%;
        max-width: none;
        margin: 0;
        padding: vars.$side-gap vars.$side-gap 0;
    }

    @media (max-width: 575px){
        padding: vars.$side-gap*0.75 vars.$side-gap*0.5 0;
    }
}

.ratings_section{
    margin: 0 vars.$side-gap vars.$side-gap*2.5;

    .sec_head{
        font-size: vars.$page-head-font-size;
        font-weight: 700;
        line-height: 1.4em;
        margin: 0 auto vars.$side-gap;
        width: fit-content;
        text-transform: capitalize;
        text-align: center;
    }

    .sec_top{
        display: flex;
        gap: vars.$side-gap*2;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;


        .sec_top1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: vars.$side-gap*0.375;
            
            .sec_top1_h{
                font-size: vars.$section-head-font-size;
                font-weight: 600;
            }

            .sec_top1_stat{
                font-size: vars.$section-head-font-size*1.25;
                font-weight: 700;
            }

            .sec_top1_count{
                font-size: vars.$section-general-font-size*1.1;
                font-weight: 500;
            }
        }

        .sec_top2{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: vars.$side-gap*0.5;
        }
    }

    .ratings_list{
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: vars.$side-gap*2 auto vars.$side-gap*3;
        row-gap: vars.$side-gap*1.25;

        .rating_card{
            display: flex;
            column-gap: vars.$side-gap*0.5;
            align-items: flex-start;

            border-bottom: vars.$dimmed-dark-blueish-gray 1.5px solid;

            padding: 0 25px 15px;
            
            .rating_cont{
                font-size: vars.$section-general-font-size;
                
                .rating_uname{
                    font-weight: 600;
                    text-transform: capitalize;
                    margin-bottom: vars.$side-gap*0.125;
                }

                .rating_stat{
                    display: flex;
                    align-items: center;
                    column-gap: 12px;
                    margin-bottom: vars.$side-gap*0.25;

                    .rating_count{
                        font-weight: 500;        
                    }
                }

                .rating_review{
                    font-weight: 400;
                    font-size: 0.9em;
                }
            }
        }
    }

    @media (max-width: 768px){
        .sec_head{
            font-size: 1.75rem;
            padding: 0 5px;
            border-bottom: solid 2px vars.$tertiary-dark;
            border-left: solid 3px transparent;
            border-right: solid 3px transparent;
            // border-radius: 3px;
        }
    }

    @media (max-width: 575px){
        margin: 0 vars.$side-gap*0.5 vars.$side-gap*2.25;

        .sec_head{
            font-size: 1.5rem;
            margin-bottom: vars.$side-gap*0.75;
        }
    
        .ratings_list{
            margin-bottom: vars.$side-gap*2;

            .rating_card{
                padding: 0 0 15px;
                column-gap: 7.5px;

                .rating_cont{
                    font-size: 1rem;
                }
            }
        }
    }

    @media (max-width: 295px){
        margin-left: vars.$side-gap*0.25;
        margin-right: vars.$side-gap*0.25;


    }
}

.rating_display{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7.5px;

    .rating_display_label{
        font-size: vars.$section-general-font-size;
        font-weight: 500;
        display: flex;
        align-items: center;
        column-gap: 4px;

        svg{
            color: #FFD700;
        }
    }

    .rating_display_bar_stat{
        width: 300px;
        height: 20px;
    }

    .rating_display_count{
        font-size: vars.$section-general-font-size;
        font-weight: 500;
    }

    @media (max-width: 575px){
        .rating_display_label, .rating_display_count{
            font-size: 1rem;
        }
    }

    @media (max-width: 470px){
        .rating_display_bar_stat{
            width: 200px;
            height: 15px;
        }
    }

    @media (max-width: 350px){

        .rating_display_bar_stat{
            width: 150px;
        }
    }

    @media (max-width: 275px){

        .rating_display_bar_stat{
            width: 120px;
        }
    }
}