@use '../vars.module';

.shopPage{
    padding: vars.$side-gap vars.$side-gap*1.25 vars.$side-gap*2;

    @media (max-width: 1100px){
        padding: vars.$side-gap vars.$side-gap vars.$side-gap*2;
    }

    @media (max-width: 575px){
        padding: vars.$side-gap vars.$side-gap*0.5 vars.$side-gap*1.75;
    }

    @media (max-width: 295px){
        padding: vars.$side-gap*0.75 vars.$side-gap*0.25 vars.$side-gap*1.5;
    }

    
    .breadcrumb_cont{
        @media (max-width: 768px){
            display: block;
            width: fit-content;
            margin: 0 auto;
        }
    }

    .hero_cont{
        padding-top: vars.$side-gap*0.5;
        padding-bottom: vars.$side-gap*0.75;
        border-bottom: vars.$dimmed-dark-blueish-gray 2px solid;

        .hero_title{
            font-size: vars.$page-head-font-size;
            line-height: 1.25em;
            font-weight: 700;
            text-align: left;
            margin-bottom: vars.$side-gap*0.25;
            text-transform: uppercase;
        }

        .hero_description{
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.3em;
            width: 75%;
            max-width: 450px;
            text-align: justify;
        }

        @media (max-width: 768px){
            
            .hero_title{
                text-align: center;
                font-size: 1.75rem;
                margin-bottom: 5px;
            }
            .hero_description{
                text-align: center;
                margin: 0 auto;
                font-size: 1.05rem;
                width: 97.5%;
                max-width: 500px;
            }
        }

        @media (max-width: 470px){

            .hero_title{
                font-size: 1.5rem;
            }

            .hero_description{
                font-size: 1rem;
                width: 100%;
            }
        }
    }

    .categorySection{
        margin: vars.$side-gap*0.5 0;
        padding: vars.$side-gap vars.$side-gap*0.75;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        border-radius: 10px;

        &:nth-child(odd){
            background-color: vars.$secondary-bright;
        }

        .sectionItems{
            display: flex;
            justify-content: space-evenly;
            column-gap: 20px;
            flex-grow: 1;
        }

        .section1{
            display: flex;
            flex-direction: column;
            row-gap: vars.$side-gap*0.25;

            .sectionTitle{
                font-size: vars.$section-head-font-size;
                font-weight: 600;
                line-height: 1.5em;
            }

            .sectionDesc{
                font-size: 1.05rem;
                font-weight: 400;
                line-height: 1.2em;
                width: 100%;
                max-width: 315px;
                text-align: justify;
            }

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 8px;

                font-size: 1rem;
                line-height: 1.25em;
                text-transform: uppercase;
                letter-spacing: 1.25px;
                padding: 7.5px 40px;
                margin-top: vars.$side-gap*0.5;
                background-color: vars.$primary-dark;
                color: vars.$primary-bright;
                border-radius: 0 7.5px 0 7.5px;
                width: fit-content;
                transition: 250ms ease-in-out;

                svg{
                    transition: 350ms ease-in-out;
                }

                &:hover{
                    background-color: vars.$hover-pink;
                    svg{
                        transform: translateX(20px);
                    }
                }
            }
        }


        @media (max-width: 1300px){
            flex-direction: column;
            row-gap: 40px;
            padding: vars.$side-gap vars.$side-gap*0.5;

            .sectionItems{
                flex-grow: initial;
                flex-wrap: wrap;
                width: 100%;
                row-gap: 40px;
            }

            .section1{
                justify-content: center;
                align-items: center;
                width: 100%;

                .sectionTitle{
                    text-align: center;
                }

                .sectionDesc{
                    width: 100%;
                    max-width: 500px;
                    text-align: center;
                }
            }
        }

        @media (max-width: 470px){
            padding: vars.$side-gap*0.5;

            .section1{
                .sectionTitle{
                    font-size: 1.25rem;
                }

                .sectionDesc{
                    font-size: 0.95rem;
                }

                a{
                    font-size: 0.975rem;
                    margin-top: 5px;
                }
            }
        }

        @media (max-width: 330px){
            padding: vars.$side-gap*0.5 vars.$side-gap*0.25;
        }
    }
}