@use '../vars.module';

.subscribe_page {

    .hero {
        padding: vars.$side-gap vars.$side-gap*1.375 vars.$side-gap*1.5;
        background-color: vars.$secondary-dark;

        .brdcrmb_cont {
            margin: 0 auto;
            width: fit-content;
        }

        .hero_title {
            color: vars.$primary-bright;
            font-size: vars.$page-head-font-size;
            font-weight: 700;
            line-height: 1.4em;
            text-transform: uppercase;
            letter-spacing: 1.1px;
            margin-top: vars.$side-gap*0.5;
            margin-bottom: 15px;
            text-align: center;
        }

        .hero_description {
            color: vars.$tertiary-bright;
            font-size: vars.$page-desc-font-size;
            font-weight: 400;
            line-height: 1.35em;
            max-width: 750px;
            text-align: center;
            margin: 0 auto;
        }

        @media (max-width: 900px) {
            padding-left: vars.$side-gap;
            padding-right: vars.$side-gap;
        }

        @media (max-width: 768px) {

            .hero_title {
                font-size: 1.75rem;
                margin-bottom: 7.5px;
            }

            .hero_description {
                font-size: 1.05rem;
            }
        }

        @media (max-width: 575px) {
            padding-left: vars.$side-gap*0.5;
            padding-right: vars.$side-gap*0.5;

            .hero_title {
                font-size: 1.45rem;
            }

            .hero_description {
                font-size: 1rem;
            }
        }

        @media (max-width: 450px) {
            padding-bottom: vars.$side-gap*1.25;

            .brdcrmb_cont {
                margin: 0;
            }

            .hero_title {
                font-size: 1.4rem;
                text-align: left;
            }

            .hero_description {
                max-width: none;
                text-align: left;
            }
        }

        @media (max-width: 295px) {
            padding-left: vars.$side-gap*0.25;
            padding-right: vars.$side-gap*0.25;
        }
    }

    .sub_main {
        width: 100%;
        padding: vars.$side-gap*0.5 0 vars.$side-gap;

        .sub_sect {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 40px;
            padding: vars.$side-gap vars.$side-gap vars.$side-gap*1.125;

            &:nth-child(even) {
                background-color: vars.$tertiary-bright;
            }

            .left {
                width: fit-content;
                display: flex;
                flex-direction: column;
                row-gap: 12.5px;

                img {
                    width: 75px;
                    align-self: center;
                    height: auto;
                    object-fit: cover;
                }

                .main_head {
                    font-size: vars.$section-head-font-size;
                    font-weight: 600;
                    line-height: 1.35em;
                }
            }

            .offers {
                display: flex;
                flex-wrap: wrap-reverse;
                justify-content: center;
                align-items: center;
                gap: 30px 25px;

                .offer {
                    min-width: 220px;
                    width: fit-content;
                    background-color: vars.$secondary-bright;
                    border: 1px solid vars.$dark-blueish-gray;
                    color: vars.$primary-dark;
                    padding: 20px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: vars.$section-general-font-size;
                    transition: 250ms ease-in-out;

                    .offer_head {
                        font-weight: 500;
                        margin-bottom: 20px;
                        text-align: center;
                        text-transform: capitalize;
                    }

                    a {
                        margin-top: 10px;
                        font-weight: 400;
                        background-color: vars.$primary-dark;
                        width: fit-content;
                        color: vars.$primary-bright;
                        padding: 6px 30px;
                        border-radius: 10px;
                        text-transform: capitalize;
                        transition: 250ms ease-in-out;

                        &:hover {
                            background-color: vars.$hover-pink;
                        }
                    }

                    &:last-of-type {
                        background-color: vars.$secondary-dark;
                        color: vars.$primary-bright;
                        min-width: 250px;
                        width: fit-content;
                        min-height: fit-content;
                        height: auto;
                        aspect-ratio: 1.6;
                        border: solid 2.5px vars.$hover-pink;

                        .offer_head {
                            font-weight: 700;

                            span {
                                color: vars.$hover-pink-bright;
                            }
                        }

                        a {
                            background-color: vars.$primary-dark;

                            &:hover {
                                background-color: vars.$hover-pink;
                            }
                        }
                    }
                }
            }

            @media (max-width: 1020px) {
                flex-direction: column;
                row-gap: 20px;
            }

            @media (max-width: 575px) {
                padding-right: vars.$side-gap*0.5;
                padding-left: vars.$side-gap*0.5;

                .left {
                    row-gap: 15px;

                    .main_head {
                        font-size: 1.25rem;
                        text-transform: uppercase;
                    }
                }

                .offers{
                    .offer{
                        min-width: 175px;
                        font-size: 1rem;

                        &:last-of-type{
                            min-width: 225px;
                        }
                    }
                }
            }

            @media (max-width: 295px){
                padding-left: vars.$side-gap*0.25;
                padding-right: vars.$side-gap*0.25;
            }
        }
    }

}