@use './styles/vars.module';

*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body{
  background-color: vars.$primary-bright;
  color: vars.$primary-dark;
  font-size: 1rem;
  font-weight: 400;

  &::-webkit-scrollbar{
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.breadcrumb1{
  padding: vars.$side-gap*0.5 vars.$side-gap*1.25;
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 15px;

  font-size: 1rem;
  line-height: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;

  a{
    cursor: pointer;
    transition: 150ms ease-in-out;
    &:hover{
      color: vars.$hover-pink;
    }
  }
}