@use '../../../../styles/vars.module';

.cafes{
    margin: vars.$side-gap*2.5 vars.$side-gap;

    .title{
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 1.8rem;
        position: relative;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: vars.$side-gap*0.25;

        &::after{
            position: absolute;
            top: calc(100% + 2.5px);
            left: 50%;
            transform: translateX(-50%);
            content: " ";
            width: 50%;
            height: 1.5px;
            background-color: vars.$dark-blueish-gray;
        }
    }

    .main{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        column-gap: vars.$side-gap;

        p{
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.55rem;
            color: vars.$secondary-dark;
            width: 40%;
        }

        img{
            width: 40%;
            height: 40%;
            border-radius: 50%;
            object-fit: fill;
        }
    }

    a{
        display: block;
        width: fit-content;
        margin: 0 auto;
        padding: 10px 40px;
        border-radius: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.6rem;
        background-color: vars.$primary-dark;
        color: vars.$primary-bright;
        transition: 250ms ease-in-out;

        &:hover{
            background-color: vars.$hover-pink;
        }
    }
}