@use '../styles/vars.module';

.optsBox {
    width: 85%;
    max-width: 800px;
    height: fit-content;
    border-radius: 20px;
    margin: 0 auto;

    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.17);

    .head {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: vars.$secondary-bright;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: vars.$section-head-font-size;
        font-weight: 600;
        line-height: 1em*1.25;
        text-transform: capitalize;

        span:last-of-type {
            font-size: 0.85em;
        }
    }

    .optsCnts {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        gap: 30px;

        button{
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 6px;
            font-size: vars.$section-general-font-size;
            font-weight: 500;
            line-height: vars.$section-general-font-size*1.25;
            padding: 7.5px 25px;
            background-color: vars.$primary-dark;
            color: vars.$primary-bright;
            border-radius: 10px;
            cursor: pointer;
            transition: 150ms ease-in-out;

            &:hover{
                background-color: vars.$hover-pink;
            }
        }
    }

}